.mainContainer {
  border: 2px solid #ccc;
  height: 93vh;
  position: relative;
}
.mainContainent {
  height: 92vh;
  border: 2px solid #ccc;
  width: 84%;
  position: absolute;
  left: 234px;
  background-color: #ccc;
}
.edibleArea {
  border: 2px solid black;
  background-color: white;
  min-height: 200px;
  max-height: 100vh;
  margin: auto;
  width: 50%;
  /* margin-top: 50px; */
}
.textContent {
  margin-top: 35px;
  text-align: center;
}
.addImg {
  border: 0px;
}
.shownImg {
  margin: auto;
  width: 5%;
}
.AddingPic {
  margin: auto;
  width: 27%;
  display: flex;
  justify-content: space-evenly;
}
